@use './../../GlobalStyle'

.modal_close_btn
  position: absolute
  display: inline-block
  cursor: pointer
  top: 10px
  right: 10px

.modal_container
  position: absolute
  border-radius: 10px
  border: 5px solid black
  z-index: 9991
  top: 50%
  left: 50%
  padding: 30px
  transform: translate(-50%, -50%)
  background-color: GlobalStyle.$white

.modal_title
  p
    padding: 0
    font-weight: bold
    font-size: 20px
    margin: 0 0 20px 0
