$sidebar_color: #33383E
$white: white
$sidebar_item_non_selected: #a3a3a3
$sidebar_selected_bg: #7c7c7c
$sidebar_width: 300px
$sidebar_close_width: 60px

$theme_green: #008a8a
$theme_brown: #362F4B

body
    margin: 0
    padding: 0
    scroll-behavior: smooth

@for $i from 0 through 20 
    .margin-top-#{$i+5}
        margin-top: $i+5px
    .margin-bottom-#{$i+5}
        margin-bottom: $i+5px
    .margin-left-#{$i+5}
        margin-left: $i+5px
    .margin-right-#{$i+5}
        margin-right: $i+5px
    .margin-#{$i}
        margin: $i+5px
    .padding-top-#{$i+5}
        padding-top: $i+5px
    .padding-bottom-#{$i+5}
        padding-bottom: $i+5px
    .padding-left-#{$i+5}
        padding-left: $i+5px
    .padding-right-#{$i+5}
        padding-right: $i+5px
    .padding-#{$i}
        padding: $i+5px

.center-div
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)

._dot
    display: inline-block
    width: 10px
    height: 10px
    border-radius: 50%
    background-color: #008a8a
    margin: 0 3px 0 3px

.loader
    display: inline-block
    width: 40px
    height: 40px
    border: 10px solid #f3f3f3
    border-radius: 50%
    border-top: 10px solid #3498db
    -webkit-animation: spin 2s linear infinite
    animation: spin 2s linear infinite

@keyframes spin
    0%
        transform: rotate(0deg)
    100%
        transform: rotate(360deg)

@-webkit-keyframes spin
    0%
        -webkit-transform: rotate(0deg)
    100%
        -webkit-transform: rotate(360deg)



.hide
    display: none

.show
    display: block

.bold
    font-weight: bold

.theme_green
    background-color: $theme_green !important
    color: $white !important

.btn
    padding: 10px 20px
    border: none
    border-radius: 6px
    background-color: #cacaca
    color: black
    cursor: pointer

.pull-right
    float: right

.text-center
    text-align: center

.text-right
    text-align: right

.nice_theme
    width: calc(100% - 40px)
    margin: 20px
    thead
        text-align: center
        td
            font-weight: bold
            padding: 10px 0
            color: $white
            background-color: $theme_brown
        td:first-child
            border-radius: 6px 0 0 0
        td:last-child
            border-radius: 0 6px 0 0
    tbody
        tr
            td
                padding: 13px 10px
        tr:nth-child(even)
            background-color: #dddddd