$sidebar_color: #33383E
$white: white
$sidebar_item_non_selected: #a3a3a3
$sidebar_selected_bg: #7c7c7c
$sidebar_width: 300px
$sidebar_close_width: 60px

$theme_green: #008a8a
$theme_brown: #362F4B
$link_color: #008a8a
$theme_red: #d70b0b
$theme_yellow: #fbb220
$theme_gray: #737373

.gray
    color: $theme_gray

.theme_green
    background-color: $theme_green !important
    color: $white !important

.theme_brown
    background-color: $theme_brown !important
    color: $white !important

.theme_red
    background-color: $theme_red !important
    color: $white !important

.theme_yellow
    background-color: $theme_yellow !important
    color: $white !important

.theme_gray
    background-color: $theme_gray !important
    color: $white !important

body
    margin: 0
    padding: 0
    scroll-behavior: smooth
    font-size: 15px

.link_style
    color: $link_color
    text-decoration: underline
    cursor: pointer

ol
    margin: 0 0 0 20px
    padding: 0
    li
        margin: 10px 0

@for $i from 0 through 20 
    .margin-top-#{$i+5}
        margin-top: #{$i+5}px !important
    .margin-bottom-#{$i+5}
        margin-bottom: #{$i+5}px !important
    .margin-left-#{$i+5}
        margin-left: #{$i+5}px !important
    .margin-right-#{$i+5}
        margin-right: #{$i+5}px !important
    .margin-#{$i}
        margin: #{$i+5}px !important
    .padding-top-#{$i+5}
        padding-top: #{$i+5}px !important
    .padding-bottom-#{$i+5}
        padding-bottom: #{$i+5}px !important
    .padding-left-#{$i+5}
        padding-left: #{$i+5}px !important
    .padding-right-#{$i+5}
        padding-right: #{$i+5}px !important
    .padding-#{$i}
        padding: #{$i+5}px !important
    .border-radius-#{$i*5}
        border-radius: #{$i * 5}px !important

.center-div
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)

.pointer
    cursor: pointer

._dot
    display: inline-block
    width: 10px
    height: 10px
    border-radius: 50%
    background-color: #008a8a
    margin: 0 3px 0 3px

.loader
    display: inline-block
    width: 40px
    height: 40px
    border: 10px solid #f3f3f3
    border-radius: 50%
    border-top: 10px solid #3498db
    -webkit-animation: spin 2s linear infinite
    animation: spin 2s linear infinite

@keyframes spin
    0%
        transform: rotate(0deg)
    100%
        transform: rotate(360deg)

@-webkit-keyframes spin
    0%
        -webkit-transform: rotate(0deg)
    100%
        -webkit-transform: rotate(360deg)

.form-control
    width: calc(100% - 20px)
    min-width: 300px
    min-height: 30px
    padding: 3px 10px
    border-radius: 6px
    outline: none
    font-size: 15px
    border: 2px solid black

.center-horizon
    position: fixed
    left: 50%
    transform: translateX(-50%)

.hide
    display: none

.show
    display: block

.bold
    font-weight: bold

.btn
    padding: 10px 20px
    border: none
    border-radius: 4px
    background-color: #cacaca
    color: black
    font-size: 12px
    font-family: 'Ubuntu', sans-serif
    letter-spacing: .01em
    cursor: pointer

.pull-right
    float: right

.text-center
    text-align: center

.text-right
    text-align: right

.nice_theme
    //width: calc(100% - 40px)
    width: 100%
    box-shadow: 0 0 30px 1px #383838
    border-radius: 6px 6px 0 0
    margin: 20px 0
    background-color: $theme_brown
    thead
        text-align: center
        td
            font-weight: bold
            padding: 10px 0
            color: $white
            background-color: $theme_brown
        td:first-child
            border-radius: 6px 0 0 0
        td:last-child
            border-radius: 0 6px 0 0
    tbody
        tr
            td
                padding: 13px 10px
        tr:nth-child(2n)
            background-color: #dddddd
        tr:nth-child(2n+1)
            background-color: $white