@use './../../GlobalStyle'

.container
    margin-left: GlobalStyle.$sidebar_close_width
    padding: 30px

.pagination
    span:first-child, span:last-child
        color: green
        border: none
        padding: 0
        margin: 0
    span
        cursor: pointer
        border-radius: 3px
        margin: 4px
        padding: 6px 13px
        border: 1px solid #cacaca
        background-color: GlobalStyle.$white
    
    span:hover
        background-color: #808080
        color: GlobalStyle.$white